<div class="jumbotron">
  <h3>Questions</h3>
</div>

    <ul class="list-group">
    <li class="list-group-item">
    <form action="/" method="POST" class="wrapper-centered-query center-block">
      <div class="form-group">
        <textarea class="form-control" rows="5"  id ="question" class="col-lg-6" name="content" class="form-control" placeholder="Your question should relate in some way to the law and your rights. And should also be specific enough so as not to be directy addressed in the amendments.
    "></textarea>
        <button type="submit" class="btn btn-danger">Submit</button>
      </div>
    </form>
    </li>
    </ul>

    <% @users.each do |user| %>

      <div class="row">

        <div class="col-md-12">
          <% if user.questions != [] %>

              <!--  Display questions -->
              <% user.questions.each do |question| %>

                  <ul class="list-group">

                      <% if question.content %>
                          <li class="list-group-item"><a href="/users/<%=user.id%>"><span class="light-blue"><%= user.username + ":"%></span> </a><span class="light-blue"><%= question.content %></span></li>
                      <% end %>

                      <!--  Display comments -->
                      <% question.comments.each_with_index do |comment, i| %>
                        <% if comment.content %>
                            <li class="list-group-item blue"><%= "#{comment.user.username}:"%><%=" #{comment.content}" %></li>
                        <% end %>
                      <% end %>

                  <!-- Add comment  -->
                  <% if user.id != current_user.id %>
                        <form action="/comments" method="POST" class="wrapper-centered-query">
                        <div class="form-group">
                        <input type="hidden" name="id"  value="<%=question.id%>">
                        <textarea class="form-control" rows="5" id ="comment" class="col-lg-6" name="content" class="form-control" placeholder="Add a comment"></textarea>
                        <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                        </form>
                  <% end %>

                </ul>

              <!-- user.questions iterator-->
              <% end %>

          <!-- end of first if statement -->
          <% end %>

      <!--end of users iterator-->

        </div>

      </div>

    <% end %>
