<div class="jumbotron">
  <h3>Welcome, <%= current_user.username %></h3>
  <h4>Posted Questions:</h4>
</div>
<% @users.each do |user| %>
<div class="row">
  <div class="col-md-12">

    <ul class="list-group">
      <% if user.questions != [] %>
          <li class="list-group-item"><a href="/users/<%=user.id%>"><h4><span class="light-red"><b><%= user.username %></span><h4></a></li>

          <!--  Display questions -->
          <% user.questions.each do |question| %>
              <% if question.content %>
                  <li class="list-group-item"><span class="light-red"><b><%= question.content %></span></li>
              <% end %>

              <!--  Display comments -->
              <% question.comments.each_with_index do |comment, i| %>
                <% if comment.content %>
                    <li class="list-group-item "><span class="blue"><%= "#{comment.user.username}:"%><%=" #{comment.content}" %></li></span>
                <% end %>
              <% end %>

              <!-- Add comment  -->
              <% if user.id != current_user.id %>
                <form action="/comments" method="POST" class="wrapper-centered">
                  <div class="form-group">
                    <input type="hidden" name="id"  value="<%=question.id%>">
                    <input type "text" id ="comment" name="content" class="form-control" placeholder="Add a comment">
                    <button type="submit" class="btn btn-danger">Submit</button>
                  </div>
                </form>
              <% end %>


          <!-- user.questions iterator-->
          <% end %>


      <% end %>
      </ul>
    </div>
  </div>
<% end %>
