<!--  Posted Question-->
<h3>Questions:</h3>
<h4><%= @question.content %></h4>

<!-- Results  -->
<h3>Search Result:<h3/>
  <% @question.amendments.each do |a| %>
    <ul>
      <h4><%= a.name %></h4>
      <h5><li><%= a.content %></li><h5>
    </ul>
  <%end%>

  <!-- Option to delete question -->
  <form action="/users_questions/<%=@question.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-default">Delete Question</button>
  </form>
  <!-- Option to edit question -->
  <button type="submit" class="btn btn-default"><a href="/users_questions/<%=@question.id%>/edit">Edit Question</a></button>
