<% if !flash[:message].blank? %>
  <div class = "message"> -->
    <%= flash[:message] %>
  </div>
<% end %>
<h3>Welcome,<%= current_user.username %></h3>
<h4>Posted Questions:</h4>

<% @users.each do |u| %>
<div class="row">
  <div class="col-md-12">
    <% if u.questions != [] %>
        <ul class="list-group">
          <li class="list-group-item"><h5><a href="/users/<%=u.id%>"><h4><%= u.username %><h4></a></h5></li>

          <!--  Questions -->
          <% u.questions.each do |q| %>
              <% if q.content %>
                  <li class="list-group-item"><h5><%= q.content %></h5></li>
              <% end %>

              <!-- Form to add comment  -->
              <% if u.id != current_user.id %>
                <form  action="/users_comments" method="POST">
                  <div class="form-group">
                    <input type="hidden" name="id"  value="<%=q.id%>">
                    <input type "text" id ="comment" name="content" class="form-control" placeholder="Add a comment">
                    <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </form>
              <% end %>

              <!-- <% if q.comments ==[] %>
                <div class="row"></div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
              <% end %> -->

              <% q.comments.each_with_index do |c, i| %>
                <!--  Display comments -->
                <% if c.content %>
                    <li><a href='<%="users_comments/#{i+1}"%>'>
                    <li class="list-group-item"><h5><%= "#{c.user.username}: #{c.content}" %></h5></li>
                <% end %>
              <% end %>
          <% end %>
      <% end %>
      </ul>
    <% end %>
