<div class="jumbotron">
  <h3>  <%=  @user.username%>'s Profile</h3>
</div>

<div class="row">

  <div class="col-md-12">
    <ul class="list-group">

      <li class="list-group-item">
          <h5><%=  @user.username%>'s questions</h5>
        <ul>
          <%@user.questions.each_with_index do |question, i| %>
            <li><%= "#{i+1}. #{question.content} " %></a></li>
            <!-- Option to delete question -->
            <form action="/questions/<%=question.id%>/delete" method="POST">
              <input id="hidden" type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-default">Delete Question</button>
            </form>
            <!-- Option to edit question -->
            <button type="submit" class="btn btn-danger"><a href="/questions/<%=question.id%>/edit">Edit Question</a></button>

            <% question.comments.each_with_index do |comment, i| %>
                  <li class="list-group-item light-blue"><h5><%= "#{comment.user.username}: #{comment.content}" %></h5></li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </li>

      <li class="list-group-item">
          <h5><%=  @user.username%>'s comments</h5>
        <ul>
        <%@user.comments.each_with_index do |comment, i| %>
        <li><%= "#{comment.user.username}: " + comment.content %></li>
            <li><%= "#{comment.question.user.username}: " + comment.question.content %></li>
          <% end %>
          <!-- Option to delete comment -->
          <form action="/comments/<%=comment.id%>/delete" method="POST">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-default">Delete Comment</button>
          </form>
          <!-- Option to edit comment -->
          <button type="submit" class="btn btn-default"><a href="/comments/<%=comment.id%>/edit">Edit Comment</a></button>
        <%end%>
        </ul>
      </li>

    </ul>
  </div>
</div>
