<h3><%= @user.username %></h3>

<%@user.questions.each_with_index do |question, i| %>
  <p><%= "#{i+1}." %><%=question.content%></p>
    <%question.amendments.each_with_index do |a, j|%>
       <p><%= "#{j+1}." %><%= a.content %></p>
    <% end %>
<%end%>
