<h3><%= @amendment.name %></h3>

<%@amendment.questions.each do |question| %>
  <a href ="/users_questions/<%=question.id%>"><p><%=question.name%></p></a>
<%end%>

<%@amendment.users.each do |user| %>
  <a href="/artists/<%=question.id%>"><%=artist.name%></a>
<%end%>
